<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.liaocheng.suteng.myapplication">

    <uses-feature android:name="android.hardware.sensor.accelerometer" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.stepdetector"
        android:required="true" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- iBeancon功能所需权限 -->
    ;
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 个推3.0电子围栏功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission
        android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.Notification.DEFAULT_ALL" />
    <!-- <uses-permission android:name="android.permission.FLASHLIGHT"/> -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".api.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:maxAspectRatio="2.4"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="ec8683dcb5b484aecc3afe97dc7b5fc7" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />

        <service android:name="com.amap.api.location.APSService" />
        <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
        <!-- 腾讯优图key -->
        <meta-data
            android:name="OCR_APP_KEY"
            android:value="10128171" />
        <meta-data
            android:name="OCR_SECRET_ID"
            android:value="AKIDxnPoz4EWrwlLkutzf6IFwRimbCZjHMp5" />
        <meta-data
            android:name="OCR_SECRET_KEY"
            android:value="A6oLejaDdpnX3LPEqENIzShQxSmtnVzF" />
        <activity
            android:name=".ui.MainActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.GuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.StartActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.FindPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.BangDingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.home.FaHuoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.GongDaoListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.address.AddAddress"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.address.AddressList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.address.NewLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.address.NewLocationSeekActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.address.CityListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.fahuo.FaHuoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.address.NewLocationSeekBuActivity"
            android:screenOrientation="portrait" />
        <!--帮我买 -->
        <activity
            android:name=".ui.home.fahuo.BangWoMaiActivity"
            android:screenOrientation="portrait" />
        <!--帮我买 -->
        <activity
            android:name=".ui.home.fahuo.BangWoMaiXiaDanActivity"
            android:screenOrientation="portrait" />
        <!--帮我办 -->
        <activity
            android:name=".ui.home.fahuo.BangWoBanActivity"
            android:screenOrientation="portrait" />
        <!--帮我办 -->
        <activity
            android:name=".ui.home.fahuo.BangWoBanXiaDanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.my.MyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.my.ZhangHuSetingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.my.AboutMeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.my.DingDanGuanLiActivity"
            android:screenOrientation="portrait" />
        <!-- 优惠券-->
        <activity
            android:name=".ui.my.YouHuiQuanActivity"
            android:screenOrientation="portrait" />
        <!-- 优惠券列表-->
        <activity
            android:name=".ui.my.YouHuiQuanListActivity"
            android:screenOrientation="portrait" />
        <!-- 我的信息-->
        <activity
            android:name=".ui.my.UpDataMyInFoActivity"
            android:screenOrientation="portrait" />
        <!-- 修改密码相关  开始-->
        <activity
            android:name=".ui.my.UpdateNewPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.my.UpdatePhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.my.UpdateZhiFuMiMaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.my.UpdatePhoneZhiFuMiMaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.my.SetZhiFuMiMaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.my.MyIdentityWinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.my.MyUpdateIdentityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.my.FuWuJiangLiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.my.MyYaoQingMaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.my.MyTuiGuangActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.my.TuiGuangRenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.my.TuiGuangJiangLiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.my.CoustomCaptureActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name=".ui.my.MyIdentityActivity"
            android:screenOrientation="portrait" />
        <!-- 修改密码相关  结束-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sdksample" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106274109" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ui.home.jiedan.JieDanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.jiedan.DingDanInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.jiedan.DingDanBuyInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.jiedan.WoDeRenWuActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>